---
import Layout     from '../layouts/Layout.astro'
import {PrismCtx} from '../components/prism-ctx.ts'
import '../components/prism.ts'
---

<Layout title="Welcome to Astro." >
	<main>
        <PrismCtx client:only="lit"></PrismCtx>
	</main>
</Layout>
